[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
"bs4" = "*"
python-dateutil = "*"
tweepy = "*"
icalendar = "*"
PyYAML = ">=4.2b1"
pymongo = "*"
lxml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
